<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href=
        "https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
                  rel="stylesheet">
    </head>

    <body>
        <div style="    display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-size: 28px;
        font-weight: bold;">
            <h1>Here the orders</h1>
        </div>
        <div class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2">
            {% for i in orders %}
            <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-tl-lg md:border-r dark:bg-gray-800 dark:border-gray-700">
                <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">customer name : {{ i.Full_Name }}</h3>
                    <p class="my-4 font-light">Address : {{ i.Your_Address }}</p>
                    <p class="my-4 font-light">Food_Name : {{ i.Food_Name }}</p>
                    <p class="my-4 font-light">Food_Details : {{ i.Food_Details }}</p>
                    <p class="my-4 font-light">number of item : {{ i.How_Much }}</p>
                    <p class="my-4 font-light">contact : {{ i.Number }}</p>

                </blockquote>
                <figcaption class="flex items-center justify-center space-x-3">
                    <img class="rounded-full w-9 h-9" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="profile picture">
                    <div class="space-y-0.5 font-medium dark:text-white text-left">
                        <div>{{ i.Full_Name }}</div>
                        <div class="text-sm font-light text-gray-500 dark:text-gray-400">{{ i.Number }}</div>
                    </div>
                </figcaption>    
            </figure>
            {% endfor %}
        </div>
        
    </body>
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
        </script>
</html>